.note {
  width: 25%;
  box-sizing: border-box;
  padding: 50px 15px;
  background-color: #fafafa;
  position: relative;
}

.note__title {
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  min-height: 50px;
}

.note__description {
  margin: 20px 0;
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  min-height: 80px;
}

textarea.note__title,
textarea.note__description {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  cursor: text;
  resize: none;
  width: 100%;
  border: 1px solid #0079bf;
  border-radius: 2px;
}

.note__state {
  margin: 10px 0;
}

.note__state b {
  margin: 0 15px 0 0;
}

.note__error-message {
  display: block;
  margin: 10px 0;
  padding: 5px;
  color: #fff;
  border-radius: 2px;
  background-color: red;
}

.note__buttons {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 75px);
}

.note__buttons button {
  width: 150px;
  margin: 0 auto 10px;
}

@media (max-width: 768px) {
  .note {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .note__buttons {
    position: static;
    margin: 50px auto 20px;
    width: 80%;
  }
}
