.note {
  width: 25%;
  box-sizing: border-box;
  padding: 0;
  background-color: #fafafa;
  position: relative;
}

.note__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 15px;
  background-color: #fff;
  border-bottom: 1px solid #828282;
}

.note__content {
  padding: 20px 15px 50px;
}

.note__title {
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  width: 80%;
}

.note__description {
  margin: 20px 0;
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #828282;
  width: 100%;
}

textarea.note__title,
textarea.note__description {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  cursor: text;
  resize: none;
  background-color: transparent;
  overflow: hidden;
}

.note__buttons {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 75px);
}

.note__buttons button {
  width: 150px;
  margin: 0 auto 10px;
}

@media (max-width: 768px) {
  .note {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .note__buttons {
    position: static;
    margin: 50px auto 20px;
    width: 80%;
  }
}
