.user-sidebar {
  width: 150px;
  padding: 50px 10px;
  box-sizing: border-box;
  background-color: #fafafa;
  text-align: center;
}

.user-sidebar .user-logo {
  margin: 0 auto;
  display: block;
  width: 64px;
  height: 64px;
}

.user-sidebar .user-logo svg {
  fill: #555;
}

.user-logout {
  text-align: center;
  color: #555;
  text-decoration: none;
}
