.notes__item {
  box-sizing: border-box;
  margin: 0 0 5px;
}

.notes__item button {
  width: 100%;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: left;
  background-color: white;
  cursor: pointer;
}

.notes__item--active button {
  background-color: #e1f2fe;
}
