.dashboard {
  display: flex;
  justify-content: space-between;
  background-color: rgb(130, 190, 183);
  background-size: cover;
}

.dashboard__subtitle {
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  background-color: transparent;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 2px;
  opacity: .8;
  color: #fff;
  text-transform: uppercase;
}

.dashboard__text {
  color: #fff;
  font-size: 18px;
  opacity: .8;
  font-weight: normal;
  padding: 0 5px;
}

.notes__wrapper {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
}

.notes {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media(max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .notes__wrapper {
    padding: 20px;
  }
}
